html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: black;
}
header {
  position: fixed;
}

#about {
  position: absolute;
  margin-top: 1vh;
  margin-left: 1vh;
}

.top-left {
  position: fixed;
  top: 1vw;
  left: 1vw;
  z-index: 1007;
}

.top-right {
  position: fixed;
  top: 1vw;
  right: 1vw;
  z-index: 1007;
}

#animatedBackground {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: url("boat-assets/sky-1.jpg");
  background-repeat: repeat;
  background-position: 0 0;
  background-size: auto 100%;
  /*adjust s value for speed*/
  animation: animatedBackground 120s linear infinite;
  z-index: -1000;
}

@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  /*use negative width if you want it to flow right to left else and positive for left to right*/
  to {
    background-position: -10000px 0;
  }
}

.knob {
  position: absolute;
  width: 3.2vw;
  height: auto;
  top: 0vw;
  left: 0.04vw;
  display: flex;
  z-index: 900;
}
.pole {
  position: absolute;
  width: 2.7vw;
  top: 2.5vw;
  left: 0.14vw;
  display: flex;
}

#boat-img {
  position: absolute;
  width: 100vw;
  height: auto;
  left: 0vw;
  display: flex;
  z-index: 1000;
}

#boat-gif {
  position: absolute;
  width: 100vw;
  height: auto;
  top: 145vw;
  left: 0vw;
  display: flex;
  z-index: -999;
}

/* unvisited link */
a:link {
  color: black;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: black;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: white;
}

/* selected link */
a:active {
  color: white;
}

#mail-text:hover {
  color: white; 
}

/* Desktop */
@media only screen and (min-width: 1000px) {
  .desktop {
    display: block;
  }
  .mobile {
    display: none;
  }
  .stacked span {
    position: fixed;
    top: 7vw;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    text-align: center;
    align-content: center;
    width: 50vw;
    font-size: 4vw;
    z-index: 500;
  }
  .about-text {
    position: fixed;
    top: 2vw;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    align-content: center;
    width: 50vw;
    font-size: 4vw;
    z-index: 1009;
  } 

  .fixed {
  font-size: 4vw;
  }

  .sleeve {
    position: absolute;
    width: 0.4vw;
    height: 30.4vw;
    top: 3.6vw;
    left: 0vw;
    display: flex;
  }
  .image {
    position: absolute;
    top: 3.6vw;
    right: 0vw;
    width: auto;
    height: 30vw;
    display: flex;
    z-index: 1000;
  }
  .sleeve-tall {
    position: absolute;
    width: 0.4vw;
    height: 37.47vw;
    top: 3.6vw;
    left: 0vw;
    display: flex;
  }
  .image-tall {
    position: absolute;
    top: 3.6vw;
    right: 0vw;
    width: auto;
    height: 37vw;
    display: flex;
    z-index: 1000;
  }
  .index-sleeve {
    position: absolute;
    width: 0.4vw;
    height: 30.4vw;
    top: 3.6vw;
    left: 0vw;
    display: flex;
  }
  .index-image {
    position: absolute;
    top: 3.6vw;
    right: 0vw;
    width: auto;
    height: 30vw;
    display: flex;
    z-index: 1000;
  }
  .index-sleeve-tall {
    position: absolute;
    width: 0.4vw;
    height: 37.47vw;
    top: 3.6vw;
    left: 0vw;
    display: flex;
  }
  .index-image-tall {
    position: absolute;
    top: 3.6vw;
    right: 0vw;
    width: auto;
    height: 37vw;
    display: flex;
    z-index: 1000;
  }
  .index-sleeve-small {
    position: absolute;
    width: 0.4vw;
    height: 25.30vw;
    top: 3.6vw;
    left: 0vw;
    display: flex;
  }
  .index-image-small {
    position: absolute;
    top: 3.6vw;
    right: 0vw;
    width: auto;
    height: 25vw;
    display: flex;
    z-index: 1000;
  }
  .small-sleeve {
    position: absolute;
    width: 0.4vw;
    height: 10.2vw;
    top: 3.6vw;
    left: 0vw;
    display: flex;
  }
  .small-image {
    position: absolute;
    top: 3.6vw;
    right: 0vw;
    width: auto;
    height: 10vw;
    display: flex;
    z-index: 1000;
  }

  .vimeo-image {
    position: absolute;
    top: 3.6vw;
    right: 0vw;
    width: 53vw;
    height: 30vw;
    display: flex;
    z-index: 1000;
    border: none;
  }
  
  .bottom-left {
    position: fixed;
    bottom: 1vw;
    left: 1vw;
    z-index: 1005;
  }
  
  .bottom-right {
    position: fixed;
    bottom: 1vw;
    right: 1vw;
    z-index: 1006;
  }
}

/* Mobile */
@media only screen and (max-width: 999px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }
  .stacked span {
    position: fixed;
    top: 30vw;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    text-align: center;
    align-content: center;
    width: 83vw;
    font-size: 8vw;
    z-index: 0;
  }
  
  .fixed {
    font-size: 8vw;
  }
  .sleeve {
    position: absolute;
    width: 0.4vw;
    height: 60.7vw;
    top: 3.6vw;
    left: 0vw;
    display: flex;
  }
  .image {
    position: absolute;
    top: 3.6vw;
    right: 0vw;
    width: auto;
    height: 60vw;
    display: flex;
    z-index: 900;
  }
  .sleeve-tall {
    position: absolute;
    width: 0.4vw;
    height: 121.5vw;
    top: 3.6vw;
    left: 0vw;
    display: flex;
  }
  .image-tall {
    position: absolute;
    top: 3.6vw;
    right: 0vw;
    width: auto;
    height: 120vw;
    display: flex;
    z-index: 1000;
  }
  .index-sleeve {
    position: absolute;
    width: 0.4vw;
    height: 30.4vw;
    top: 3.6vw;
    left: 0vw;
    display: flex;
  }
  .index-image {
    position: absolute;
    top: 3.6vw;
    right: 0vw;
    width: auto;
    height: 30vw;
    display: flex;
    z-index: 900;
  }
  .index-sleeve-tall {
    position: absolute;
    width: 0.4vw;
    height: 37.47vw;
    top: 3.6vw;
    left: 0vw;
    display: flex;
  }
  .index-image-tall {
    position: absolute;
    top: 3.6vw;
    right: 0vw;
    width: auto;
    height: 37vw;
    display: flex;
    z-index: 900;
  }
  .index-sleeve-small {
    position: absolute;
    width: 0.4vw;
    height: 25.30vw;
    top: 3.6vw;
    left: 0vw;
    display: flex;
  }
  .index-image-small {
    position: absolute;
    top: 3.6vw;
    right: 0vw;
    width: auto;
    height: 25vw;
    display: flex;
    z-index: 1000;
  }
  .small-sleeve {
    position: absolute;
    width: 0.4vw;
    height: 30.4vw;
    top: 3.6vw;
    left: 0vw;
    display: flex;
  }
  .small-image {
    position: absolute;
    top: 3.6vw;
    right: 0vw;
    width: auto;
    height: 30vw;
    display: flex;
    z-index: 900;
  }
  .vimeo-image {
    position: absolute;
    top: 3.6vw;
    right: 0vw;
    width: 53vw;
    height: 30vw;
    display: flex;
    z-index: 1000;
    border: none;
  }
  .bottom-left {
    position: fixed;
    bottom: 6vw;
    left: 1vw;
    z-index: 1005;
  }
  
  .bottom-right {
    position: fixed;
    bottom: 6vw;
    right: 1vw;
    z-index: 1006;
  }
}


.index-sleeve-mini {
  position: absolute;
  width: 0.4vw;
  height: 20.4vw;
  top: 3.6vw;
  left: 0vw;
  display: flex;
}
.index-image-mini {
  position: absolute;
  top: 3.6vw;
  right: 0vw;
  width: auto;
  height: 20vw;
  display: flex;
  z-index: 900;
}


.trigger {
  width: 10vw;
  height: 10vw;
  left: 45vw;
  z-index: 100000;
  position: absolute;
}
