.header-left {
  display: block;
  position: absolute;
  font-size: 2.5vh;
  text-align: left;
  margin-left: 0.7vw;
}

.header-right {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 0.7vw;
  font-size: 2.5vh;
  text-align: right;
  font-style: normal;
  font-family: "Times New Roman", Times, serif;
  font-weight: normal;
}

a:visited {
  color: black;
}

a:link {
  color: black;
}

a {
  text-decoration: none;
}

.stacked {
  position: relative;
  color: black;
  font-style: normal;
  font-family: "Times New Roman", Times, serif;
  font-weight: normal;
  margin-top: -1em;
}

.stacked span {
  position: absolute;
  top: 0;
  left: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f1f1f0;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flash-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.flash-img {
  justify-content: center;
  align-items: center;
}

.flash-gif {
  justify-content: center;
  align-items: center;
}

/* desktop */
@media screen and (min-width: 1000px) {
  .flash-gif {
    height: 100vh;
    width: auto;
    padding: 0px;
    margin: 0px;
  }

  .flash-img {
    height: 80vh;
    width: auto;
    padding: 0px;
    margin: 0px;
  }
  .flash-img-wide {
    height: auto;
    width: 55vw;
    padding: 0px;
    margin: 0px;
  }
}

/* mobile */
@media screen and (max-width: 1000px) {
  .flash-gif {
    width: 90vw;
    height: auto;
    padding: 0px;
    margin: 0px;
    justify-content: center;
    align-items: center;
  }

  .flash-img {
    width: 90vw;
    height: auto;
    padding: 0px;
    justify-content: center;
    align-items: center;
  }

  .flash-img-wide {
    width: 90vw;
    height: auto;
    padding: 0px;
    justify-content: center;
    align-items: center;
  }
}

footer {
  display: block;
  position: relative;
  margin-left: 0.7vw;
  margin-bottom: 2vw;
  font-size: 2.5vh;
  text-align: left;
  font-style: normal;
  font-family: "Times New Roman", Times, serif;
  font-weight: normal;
  line-height: 1.5em;
}





